

#boardWrap, #boardWrap * {
  perspective-origin: top;
  perspective: 500px;
}

#boardWrap {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: 10vw;
}

#board {
  transform: rotateX(30deg);
  width: 50vw;
  background: url("../graphics/sand.png");
}

.column {
  height: calc(35vw / 8);
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
}

.sq {
  border: 2px solid #303030;
  background-color: rgba(255, 128, 96, 0.2);

  flex-grow: 1;
  flex-shrink: 0;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;
}

.sq.selected {
  border-color: var(--my-team-color);
}

.sq:hover {
  background-color: rgba(255, 240, 128, 0.2);
}

.troopa {
  position: absolute;
}

.troopa.exhausted {
  filter: grayscale(100%);
}


#tooltip {
  position: fixed;
  z-index: 1000;
  opacity: 1;
  padding: 2px;

  background: var(--npc-white);
  border: 2px solid black;
  pointer-events: none;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;

  font-size: 10px;

  width: 225px;
  height: 200px;
}

#tooltip.hidden {
  display: none;
}

#tooltip * {
  color: var(--npc-black);
  text-align: justify;
}

#ttTop {
  justify-content: flex-start;
  align-items: flex-start;
}

#ttName {
  margin-top: 4%;
  margin-bottom: 8%;
}

#tooltip .quote {
  font-size: 8px;
}

#etb {
  display: block;
  margin: 0 auto;
  padding: 0.5%;
}
