body {
  font-family: "Courier New", Courier, monospace;
  margin: 40px;
}

#display {
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
}

/* #endturn { */
  /* margin: 10px; */
/* } */

.btn {
  font-family: "Courier New", Courier, monospace;
}

/* The animation code */
@keyframes fadeawayKobe {
    from {opacity: 1;}
    to {opacity: 0;}
}

#tooltip {
  position: absolute;
  border: 2px solid #c9c9c9;
  display: block;
  z-index: 1000;
  opacity: 00.1;
  background: white;

  pointer-events: none;
  padding: 2px;

  animation-name: fadeawayKobe;
  animation-duration: 1s;
}

#status {
  margin: 10px;
}

#gamename {
  font-family: "Courier New", Courier, monospace;
}

#board {
  width: 364px;
  height: 214px;
  display: flex;
  border: 2px solid black;
  flex-flow: row wrap;

  position: relative;
}

#wscontroller {
  padding: 10px;
  margin: 10px;
  border: 2px solid grey;
}

.tileinfo {
  position: relative;
  top: -10px;
  z-index: 10;
  font-size: 10px;
}

.box {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid grey;
  font-size: 110%;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.box * {
  pointer-events: none;
}

.gamerow {
  border: 1px dashed lightblue;
}
.gamerow:hover {
  background: lightblue;
}

.description {
  font-size: 12px;
}

.quote {
  font-size: 10px;
}
.glow {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
}
.glow:hover {
    text-shadow: 0 0 10px red; /* replace with whatever color you want */
}

